* {
    border: 1px solid #3e3e3e;
    margin: 5px;
}

body {
    background-color: #d8bfd8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

div {
    height: 200px;
}

#div-1 {
    background-color: #9370db;
}

#div-2 {
    background-color: #8fbc8b;
}

#div-3 {
    background-color: #6495ed;
}

#div-4 {
    background-color: #f5deb3;
}
/* Laptop Size */
@media (min-width: 900px) {
    div {
    display: inline-block;
    width: 20%;
    font-size: 40px;
    }
#div-1,
#div-2 {
    background-color: blue;
}
#div-3,
#div-4 {
    background-color: orange;
}

}
/* Tablet Size */
@media (min-width: 480px) and (max-width: 900px) {
    div {
    display: inline-block;
    width: 20%;
    font-size: 25px;
    }
#div-1,
#div-2 {
    background-color: blue;
}
#div-3,
#div-4 {
    background-color: orange;
}
}

/* Phone Size */
@media (max-width: 480px) {
    div {
    display: inline-block;
    width: 44%;
    font-size: 30px;
    background-color: yellow;
    } */
} */