body {
    background-color: lavender;}
div {background-color: blueviolet;}
#change {background-color: peachpuff;}
.list-item {background-color: darkseagreen;}
.main-heading {background-color: aqua;}
#first-paragraph {background-color: lightcoral;}
#Nav-item {background-color: mediumpurple;}
#Nav-item2 {background-color: gold;}