* {
    border: 2px solid #fff;
    margin: 5px;
}

html {
    height: calc(100% - 14px);
}

body {
    background-color: #8246AF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: calc(100% - 14px);
    display: flex;
    justify-content: center;    /* horizontal alignment */
    flex-wrap: wrap;
    align-content: center;   /* vertical alignment */
}

div {
    padding: 5px;
    background-color: #FDA103;
}

/*** Your code here ***/

.demo-div {
    flex-grow: 1; /* grown to fill the available space evenly */
}

#div-5 {
    order: -1;
    background-color: green;
}

#div-6 {    
    flex-grow: 2;
    order: 1;    /* DONT USE unless really required! Doesn't change the order on HTML. if element is not order numbered, it's default setting is 0 (so before 1) */
}

#div-1 {    
    flex-basis: 20%;     /* control width manually regardless of how many other elements - use percentages, avoid px for this */
    order: 2;
}

#div-2 {    
    flex-basis: 100px; 
    order: 3;
}
/* order is super helpful at scale for retrieving  */