html {
    background-color: #00d982;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
}

header {
    color: #fff;
    padding: 20px;
}

h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #5e7992;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    /* border: yellow 3px dotted; */
    margin: 0%;
    padding: 25px;
}

p {
}

form {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border: yellow 3px dotted; */
    padding: 25px;
}

label {
    font-weight: bold;
    color: #5e7992;
    display: block;
    align-items: left;
    /* border: purple 3px dotted; */
    padding: 5px;
}

input {
    box-sizing: border-box; 
    border: 1px solid #ebeeef;
    background-color: #f9fafa;
    /* border: orange 3px dotted; */
    padding: 10px;
    width: 100%;
}

.form-item {
    /* border: pink 3px dotted; */
    padding: 5px;

}

button {
    background-color: #00d982;
    border: 25px;
    color: #fff;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}

input,
button {
    font-size: 1rem;
    border-radius: 2px;
}

 /*** Media Queries Below ***/

@media (max-width: 600px) {

}

@media (min-width: 600px) and (max-width: 900px) {
    .row{
        width: calc(100% / 2 - 10px);
        display: inline-block;
    }   
}

@media (min-width: 900px) {
    .row{
        width: calc(100% / 2 - 10px);
        display: inline-block;
    }   
    main {
        display: inline-flex;
        text-align: center;
    }
    #form-wrapper {
        vertical-align: middle;
    
    }
    h1 {
        margin: 25%;
        text-align: center;
    }
}